.cc{padding: 200px;
    position: relative;

}

.cc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    opacity: 0.5;
    z-index: -1;
  }

.form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .heading {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  .error-message {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  a {
    display: block;
    text-align: center;
  }
  